<div class="row justify-content-center pt-5">
    <div class="col-sm-5 ml-4">
        <h1>
        {{page.title}}
        <!-- TODO: https://mattboldt.com/demos/typed-js/ -->
        </h1>
        <p>
        {{page.description}}
        </p>
    </div>
    <div class="col-sm-5 mx-4">
        <div class="row justify-content-center">
            <div class="col-sm-6 my-auto">
                {{page.course_no}}<br>
                {{page.schedule}}<br>
                {{page.location}}<br>
                {{page.units}}<br>
            </div>
            <div class="col-sm-6 my-auto">
                <a href="/">Home</a><br>
                <a href="/contact">Contact</a><br>
                <a href="/info">Course Information</a><br>
                <a href="/resources">Resources</a><br>
            </div>
        </div>
    </div>
</div>