<div class="row justify-content-center pt-5 w-100">
    <div class="col-sm-4 ml-4">
        <h1>
        {{page.title}}
        <!-- TODO: https://mattboldt.com/demos/typed-js/ -->
        </h1>
        <p>
        {{page.description}}
        </p>
    </div>
    <div class="col-sm-6 mx-3">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                {% if page.layout == "index" %}
                    {{site.course_listing}}<br>
                    {{site.course_schedule}}<br>
                    {{site.course_location}}<br>
                    {{site.course_semester}}<br>
                {% endif %}
                {% if page.layout == "lecture" %}
                    <h2 class="text-muted">{{page.date | date_to_long_string}}</h2>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <a href="/">Home</a><br>
                <a href="/contact">Contact</a><br>
                <a href="/info">Course Information</a><br>
                <a href="/resources">Resources</a><br>
            </div>
        </div>
    </div>
</div>