---
layout: base
---
<div class="h-100">
<!-- Header -->
<div class="row justify-content-center pt-5">
  <div class="col-4 ml-5">
    <h1>
      {{page.title}}
      <!-- TODO: https://mattboldt.com/demos/typed-js/ -->
    </h1>
    <p>
      {{page.description}}
    </p>
  </div>
  <div class="col-6 mx-5">
    <div class="row justify-content-center">
      <div class="col-6 my-auto"></div>
        <div class="col-6 my-auto">
          <a href="/">Home</a><br>
          <a href="/info">Course Information</a><br>
          <a href="/resources">Resources</a><br>
        </div>
    </div>
  </div>
</div>
<!-- End of Header -->

<!-- Body -->
<div class="row justify-content-center">
  <div class="col-10">
    <div class="row">
    {% for f in site.facilitators%}
      <div class="col-md-3 my-2">
        <div class="mx-2 border-top border-left h-100">
          <div class="ml-2">
            <a href="#">
              <h5>
                {{f.name}}
              </h5>
            </a>
            <p>
              {{f.email}} (at) berk
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- End of Body-->
</div>