---
layout: base
---
<!-- Header -->
{% include header.html %}
<!-- End of Header -->

<!-- Body -->
<div class="row justify-content-center w-100">
  <div class="col-10">
    <div class="row">
    {% for lecture in site.lectures%}
      <div class="col-md-3 my-2">
        <div class="mx-2 h-100">
          <div class="ml-2">
            <small class="text-muted">
              {{lecture.date | date_to_long_string}}
            </small>
            <a href="{{lecture.url}}">
              <h5>
                {{lecture.title}}
              </h5>
            </a>
            <p>
              {{lecture.excerpt}}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
</div>
<!-- End of Body-->
